rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/ {document=**} {
      // only authenticated users can create
      allow create: if request.auth != null;
      // allow read, delete: if user is the owner of the transaction
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}